.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 100;
  height: 200;
}

#nav {
  width: 100%;
  margin: 0 0 3em 0;
  padding: 2% 0;
  list-style: none;
  background-color: rgb(192, 240, 255);
}
li {
  display: inline-block;
}
#footer {
  width: 100%;
  margin: 0 0 3em 0;
  padding: 2% 0;
  list-style: none;
  background-color: rgb(192, 240, 255);
}

* {
  background-image: "https://www.teahub.io/photos/full/18-186886_wallpaper-dog-cat-blurring-grass-walk-dog-and.jpg";
}
